.detail {
  display: grid;
  color: #1c1d1f;

  .intro {
    background-color: #1c1d1f;
    color: #ddd3d3;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;

    &__textarea {
      width: 80vh;
      padding: 2.5em 2.5em;

      &__title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }

      &__description {
        font-size: 1.1rem;
        margin-bottom: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
      }

      &__ratings {
        display: flex;
        color: #cec0fc;
        margin-bottom: 0.5rem;
      }

      &__instructors {
        font-size: 0.9rem;
        margin-bottom: 1.6rem;
        font-weight: 200;
        > span {
          color: #cec0fc;
        }
      }

      &__updatedAt {
        display: flex;
        gap: 0.5rem;
        font-weight: 200;
      }
    }
  }

  .content {
    margin: 2em 2em;
    width: 700px;
    margin: auto;

    &__curriculum {
      &__summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0.6em;

        &__count {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
    }

    &__requirements {
      padding: 0.5em 0.5em;
      font-weight: 300;

      > ul {
        padding: 0 12px;
        display: grid;
        gap: 20px;
      }
    }

    &__description {
      padding: 0.5em 0.5em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__text {
        display: block;
        width: 100%;
        font-weight: 200;
      }

      &__readhide {
        color: rgb(192, 192, 192);
        cursor: pointer;
      }
    }
    &__review {
      margin-bottom: 1.6em;
    }
    &__feedback {
      margin-bottom: 1.6em;
    }
    &__submit {
      padding: 1.7em 0 1.7em;
    }
  }
}
