.course {
  display: flex;
  grid-gap: 8px 16px;
  gap: 8px 16px;
  padding: 1.6em 15px 1.6em 15px;
  border-bottom: 1px solid #d1d7dc;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-weight: 700;
      margin: 0;
    }

    &__detail {
      width: 100%;

      .intro {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-weight: 300;
        font-size: 13px;
      }

      .instructor {
        font-size: 13px;
        color: #6a6f73;
      }
    }

    &__price {
      display: flex;
      justify-content: flex-end;
      font-weight: 700;
      width: 30%;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    display: block;

    &:hover {
      cursor: pointer;
      color: rgba(23, 23, 23, 0.682);
      transition: opacity linear 100ms;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}
