.detail {
  display: block;

  .intro {
    height: 35vh;
    background-color: #1c1d1f;
    color: #ddd3d3;
    display: flex;
    justify-content: center;

    &__textarea {
      width: 80vh;
      padding: 0.5em 2.5em;

      &__title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }

      &__description {
        font-size: 1.1rem;
        margin-bottom: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
      }

      &__ratings {
        display: flex;
        color: #cec0fc;
        margin-bottom: 0.5rem;
      }

      &__instructors {
        font-size: 0.9rem;
        margin-bottom: 1.6rem;
        font-weight: 200;
        > span {
          color: #cec0fc;
        }
      }

      &__updatedAt {
        display: flex;
        gap: 0.5rem;
        font-weight: 200;
      }
    }
  }
}
