.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 900px;

  .list {
    display: block;
  }

  .count {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1.6em 15px 1.6em 15px;
    color: #6a6f73;
  }
}

.main {
  min-height: 92vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .container {
    width: 70%;
  }

  .title {
    font-size: 2rem;
  }
}
